body {
    margin: 0;
    background-color: black;
    overflow-y: scroll;
}

img {
    margin: 15px;
    width: 32px;
    height: 32px;
}

.tab-hide {
    display: none;
}

#cmenu {
    max-width: 150px;
    position: absolute;
    z-index: 9999;
} 